.nav-bg
{
    height:42rem;
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.342)), url("https://cutesolution.com/html/lavina/assets/img/home-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
nav
{
    box-shadow: none!important;
}
.typewriter
{
    font-family:'Fredoka One', cursive!important;

}